@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  padding: 0;
  margin: 0;
}

html {
  overflow: hidden;
}

body {
  font-family: Raleway, Verdana, Geneva, sans-serif;
  line-height: 1.4;
  color: white;
}

button {
  all: unset;
  color: white;
  font-size: 4rem;
}
a {
  text-decoration: none;
  color: white;
}


i:hover {
  opacity: .5;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

hr {
  margin: 30px;
  margin-left: 0px;
  margin-right: 0px;
  animation-name: lineOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

p {
  animation-name: fadeIn;
  animation-duration: 1s;
}

.navlist {
  width: 100%;
  top: 0px;
  list-style: none;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0px;
}

.navlist li {
  display: flex;
  flex-direction: column-reverse;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  background-image: url("bg.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn;
  animation-duration: 1s;
}

.active {
  font-size: 3rem;
}

.heading {
  animation-name: slideIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.overflow {
  overflow: hidden;
  height: 400px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.component {
  height: 100vh;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.container {
  width: 1000px;
  height: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: left;
  overflow: scroll;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.title {
  display: none;
}

.large-screen {
  display: flex;
  padding: 50px;
  padding-bottom: 0;
}

.large-screen h1 {
  margin-bottom: 0;
  line-height: 1;
}

.drop-menu {
  display: none;
}

.aboutme-boxes {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.aboutme-boxes img {
  border-radius: 50%;
  border: 0.2rem solid white;
  margin: 20px;
}

.aboutme-box p {
  text-align: left;
  padding: 20px;
  padding-left: 0px;
}

.experiences-box {
  display: flex;
  padding: 0;
  margin: 0;
}

.experiences-title {
  text-align: left;
  padding: 0;
  margin: 0;
  width: 30%;
}

.experiences-description {
  text-align: left;
  padding: 0;
  margin: 0;
  max-width: 70%;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  padding: 50px;
  padding-top: 0px;
  overflow: scroll;
}

.dropped {
  display: none;
}

.contact-boxes {
  display: flex;
  font-size: 4rem;
  color: white;
  flex-direction: row;
  justify-content: space-evenly;
}

td, th{
  padding: 20px;
}

th{
  padding-bottom: 0;
}

.abilities-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.abilities-container hr{
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(30px);
  }
}

@keyframes lineOut {
  from {
    left: 50%;
    width: 0%;
  }
  to {
    left: 5%;
    width: 90%;
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
