@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  padding: 0;
  margin: 0;

}

body {
  font-family: Raleway, Verdana, Geneva, sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px rgba(0,0,0,.2);
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

hr {
  margin: 30px;
  margin-left: 0px;
  margin-right: 0px;
}

strong{
  color: black;
}

.left{
  text-align: left;
}

.bg-light {
  background-color: #FFFFDD;
}

.app {
  height: 100vh;
  min-height: 800px;
  display: flex;
  text-align: center;
  justify-content: center;
  background-image: url('bg.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.myname {
  position: relative;
  top: 30%;
  height: 100px;
  color: white;
}

.component {
  display: flex;
  align-content: center;
  justify-content: center;

}

.container {
  width: 75%;
  min-width: 700px;
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}


.aboutme-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 40px;
}

.aboutme-boxes img {
  border-radius: 50%;
  border: 1rem solid  #FFFFDD;
}

.aboutme-box p {
  text-align: left;
  padding: 20px;
}

.experiences-box {
  display: flex;
  padding: 0;
  margin: 0;
}

.experiences-title {
text-align: left;
padding: 0;
margin: 0;
width: 30%;
}

.experiences-description {
text-align: left;
padding: 0;
margin: 0;
max-width: 70%
}